Checks:
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  Wunused-const-variable,
  Wunused-variable,
  Wunused-function

# warnings from checks above become errors
WarningsAsErrors: "*"
